{% extends "base.html" %}

{% block titulo %}
<title>WIKIPROFES - Pagina de Inicio</title>
{% endblock titulo %}

{% block content %}
<div class="container">
    <!-- Encabezado Principal -->
    <header class="py-5 text-center bg-light">
        <h1 class="display-4">Bienvenido a WIKIPROFES</h1>
        <p class="lead">Explora y descubre información sobre profesores y materias</p>
    </header>

    <!-- Barra de Navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="wiki">WIKIPROFES</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/materias">Buscar Materia</a>
                    <a class="nav-link" href="/profesores/">Buscar Profesor</a>
                    <a class="nav-link" href="inicio">Iniciar Sesión</a>
                    <a class="nav-link" href="registro">Regístrate</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Contenido Principal -->
    <section class="content">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title">Sobre Nosotros</h2>
                        <p class="card-text">WIKIPROFES es una plataforma dedicada a proporcionar información detallada sobre profesores y materias para ayudar a los estudiantes a tomar decisiones informadas.</p>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title">Últimas Materias Añadidas</h2>
                        <p class="card-text">Descubre las últimas materias añadidas a nuestra plataforma.</p>
                        <a href="/materias" class="btn btn-primary">Ver Materias</a>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title">Últimos Profesores Añadidos</h2>
                        <p class="card-text">Revisa los perfiles de todos los profesor.</p>
                        <a href="/profesores/" class="btn btn-primary">Ver Profesores</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de Pie de Página -->
    <footer class="bg-dark text-white mt-5 p-4 text-center">
        <p>&copy; 2024 WIKIPROFES. Todos los derechos reservados.</p>
        <p>
            <a href="/contacto" class="text-white">Contáctanos</a> | 
            <a href="/privacidad" class="text-white">Política de Privacidad</a>
        </p>
    </footer>
</div>
{% endblock content %}
