{% extends "base.html" %}

{% block titulo %}
<title>Profesores</title>
{% endblock titulo %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="wiki">WIKIPROFES</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/index">PUBLICACIÓN</a>
                <a class="nav-link" href="/materias">MATERIA</a>
                <a class="nav-link" href="/profesores/">PROFESOR</a>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 20px; margin: 20px; width: 30rem">
        <a href="javascript:history.back()" class="btn btn-secondary mb-3">Regresar</a>
    </div>
</nav>

<div class="container mt-4">
    <h1>Lista de Profesores</h1>
    <form method="GET" action="{% url 'ver_profesores' %}" class="mb-4">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Buscar profesor" value="{{ request.GET.q }}">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>
    <div class="row">
        {% for profesor in profesores %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ profesor.nombre }}</h5>
                    <a href="{% url 'detalle_profesor' profesor.id %}" class="btn btn-primary">Ver Perfil</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
