{% extends "base.html" %}
{% block titulo %}
<title>Publicaciones</title>
{% endblock titulo %}
{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="wiki">WIKIPROFES</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/index">PUBLICACIÓN</a>
                <a class="nav-link" href="/materias">MATERIA</a>
                <a class="nav-link" href="/profesores/">PROFESOR</a>
                <a class="nav-link" href="wiki">CERRAR SESIÓN</a>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 20px; margin: 20px; width: 30rem">
        <a href="/crear_reseña" class="btn btn-primary mb-3">Agregar Reseña</a>
    </div>
</nav>

<div class="container mt-4">
    <div class="row">
        {% for publicacion in publicacion_list %}
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{publicacion.titulo}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-end">
                        Sobre <a href="{% url 'publicacion:profesor' publicacion.profesor.id %}">{{publicacion.profesor}}</a>
                    </h6>
                    <p class="card-text">{{publicacion.comentario}}</p>
                </div>
                <div class="card-footer text-body-secondary text-end">
                    Por {{publicacion.usuario}}. {{publicacion.fecha}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
