{% extends "base.html" %}
{% block titulo %}
<title>Materia {{materia_list.0.nombre}}</title>
{% endblock titulo %}
{% block content %}
  <div class="container mt-4">
    <h1>Detalles de la materia "{{materia_list.0.nombre}}"</h1>

    <table class="table table-bordered" style="width: 50%; margin: auto; margin-top: 30px;">
        <thead>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Clave</th>
            <td>{{materia_list.0.clave}}</td>
          </tr>
          <tr>
            <th scope="row">Nombre</th>
            <td>{{materia_list.0.nombre}}</td>
          </tr>
          <tr>
            <th scope="row">Departamento</th>
            <td>{{materia_list.0.departamento}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="container mt-4">
    <h1>Publicaciones relacionadas</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 10px;">
        {% for publicacion in publicacion_list %}
        <section>
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                      <h5 class="card-title">{{publicacion.titulo}}</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary text-end">Sobre {{publicacion.profesor}}</h6>
                      <p class="card-text">{{publicacion.comentario}}</p>
                    </div>
                    <div class="card-footer text-body-secondary text-end">
                        Por {{publicacion.usuario}}. {{publicacion.fecha}}
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
      </div>
  </div>
{% endblock content %}