{% extends "base.html" %}
{% block titulo %}
<title>Sobre {{publicacion_list.0.profesor}}</title>
{% endblock titulo %}
{% block content %}
    <a href="javascript:history.back()" class="btn btn-secondary mb-3" style="margin: 20px; margin-top: 20px">Regresar</a>
    <h1 style="margin: 20px;">Sobre {{publicacion_list.0.profesor}}</h1>
    {% for publicacion in publicacion_list %}
    <section>
        <div class="container">
            <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">{{publicacion.titulo}}</h5>
                  <p class="card-text">{{publicacion.comentario}}</p>
                </div>
                <div class="card-footer text-body-secondary text-end">
                    Por {{publicacion.usuario}}. {{publicacion.fecha}}
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock content %}