{% extends "base.html" %}

{% block title %}

<title>Registrar Publicación</title>
{% endblock title %}

{% block content %}
<section>
    <div class="container m-5">
        <h1 style="margin-top: 20px">Registrar Publicación</h1>
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
              <label class="form-label">Usuario:</label>
              <p class="form-control" style="background-color: #f8f9fa; border: none;">{{ usuario_actual.username }}</p>
          </div>
          
            <div class="mb-3">
              <label for="profesor-id" class="form-label">Profesor</label>
              <select class="form-control" id="profesor-id" name="profesor">
                {% for profesor in profesores %}
                <option value="{{ profesor.id }}" {% if form.profesor.value == profesor.id %}selected{% endif %}>
                  {{ profesor.nombre }}
                </option>
                {% endfor %}
              </select>
              {% for error in form.profesor.errors %}
              <p style="color: #ff5555">{{ error }}</p>
              {% endfor %}
            </div>
            
            <div class="mb-3">
              <label for="materia-id" class="form-label">Materia</label>
              <select class="form-control" id="materia-id" name="materia">
                {% for materia in materias %}
                <option value="{{ materia.id }}" {% if form.materia.value == materia.id %}selected{% endif %}>
                  {{ materia.nombre }}
                </option>
                {% endfor %}
              </select>
              {% for error in form.materia.errors %}
              <p style="color: #ff5555">{{ error }}</p>
              {% endfor %}
            </div>

            <div class="mb-3">
              <label for="titulo-id" class="form-label">Título</label>
              <input 
              type="text" 
              class="form-control" 
              id="titulo-id" 
              name="titulo"
              value="{{ form.titulo.value }}"
              >
              {% for error in form.titulo.errors %}
              <p style="color: #ff5555">{{ error }}</p>
              {% endfor %}
            </div>
            
            <div class="mb-3">
              <label for="fecha-id" class="form-label">Fecha</label>
              <input 
              type="date" 
              class="form-control" 
              id="fecha-id" 
              name="fecha"
              value="{{ form.fecha.value }}"
              >
              {% for error in form.fecha.errors %}
              <p style="color: #ff5555">{{ error }}</p>
              {% endfor %}
            </div>

            <div class="mb-3">
              <label for="comentario-id" class="form-label">Comentario</label>
              <textarea 
              class="form-control" 
              id="comentario-id" 
              name="comentario"
              >{{ form.comentario.value }}</textarea>
              {% for error in form.comentario.errors %}
              <p style="color: #ff5555">{{ error }}</p>
              {% endfor %}
            </div>

            <div class="mb-3">
              <label for="dominio-id" class="form-label">Dominio</label>
              <input 
              type="number" 
              class="form-control" 
              id="dominio-id" 
              name="dominio"
              value="{{ form.dominio.value }}"
              max="10"
              min="0"
              >
              {% for error in form.dominio.errors %}
              <p style="color: #ff5555">{{ error }}</p>
              {% endfor %}
            </div>

            <div class="mb-3">
              <label for="puntualidad-id" class="form-label">Puntualidad</label>
              <input 
              type="number" 
              class="form-control" 
              id="puntualidad-id" 
              name="puntualidad"
              value="{{ form.puntualidad.value }}"
              max="10"
              min="0"
              >
              {% for error in form.puntualidad.errors %}
              <p style="color: #ff5555">{{ error }}</p>
              {% endfor %}
            </div>

            <div class="mb-3">
              <label for="asistencia-id" class="form-label">Asistencia</label>
              <input 
              type="number" 
              class="form-control" 
              id="asistencia-id" 
              name="asistencia"
              value="{{ form.asistencia.value }}"
              max="10"
              min="0"
              >
              {% for error in form.asistencia.errors %}
              <p style="color: #ff5555">{{ error }}</p>
              {% endfor %}
            </div>

            <div class="mb-3">
              <label for="dificultad-id" class="form-label">Dificultad</label>
              <input 
              type="number" 
              class="form-control" 
              id="dificultad-id" 
              name="dificultad"
              value="{{ form.dificultad.value }}"
              max="10"
              min="0"
              >
              {% for error in form.dificultad.errors %}
              <p style="color: #ff5555">{{ error }}</p>
              {% endfor %}
            </div>

            <div class="mb-3">
              <label for="seguimiento-id" class="form-label">Seguimiento</label>
              <input 
              type="number" 
              class="form-control" 
              id="seguimiento-id" 
              name="seguimiento"
              value="{{ form.seguimiento.value }}"
              max="10"
              min="0"
              >
              {% for error in form.seguimiento.errors %}
              <p style="color: #ff5555">{{ error }}</p>
              {% endfor %}
            </div>
            
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="submit" class="btn btn-primary">Enviar</button>
              <button type="reset" class="btn btn-secondary">Reiniciar</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}
